<!-- homeplate start --> 


<section class="w-full p-2  shadow-xl rounded-lg ">
    <div class="px-4 flex">
      <div class="flex-1">
        <h1 class="">{{ post.title }}</h1>
      </div>
      <div class="flex-1">
        <div class="text-sm text-end text-fire-500">{{ post.date | date_to_string: "ordinal", "US" }}</div>    
      </div>
  
    </div>
    <div class="px-4">
        {% assign words = post.content | number_of_words %}
        {% if words > 100 %}
        <article class="prose text-base-content">       {{ post.excerpt }} 
        <a href="{{ post.url }}" class="text-fire-500">Read More</a>
  
      </article>
      {% else %}
      <article class="prose text-base-content">       {{ post.content }}</article>
  
      {% endif %}
    </div>
  
      <div class="px-4 flex">
        <div class="text-xs flex-1 my-2 text-fire-500">mood: {{ post.mood }}</div>
        <div class="text-xs flex flex-1 flex-row justify-end"> 
          {% for eachTag in post.tags %}
          
            <a href="/tags/{{ eachTag }}">
              <div class="btn btn-xs ml-1">{{ eachTag }}</div>
              </a>
            
          {% endfor %}
          
          </div>
      </div>  
  </section>
  
  <div class="">&nbsp;</div>